<% include partials/header%>

<div style='background-color:lightblue' class='container'>
    <div class='row'>
        <div class='col-lg-12'>
            <h3>Background</h3>
        </div>
</div>

<% include partials/footer%>