<% include partials/header%>

<div style='background-color:lightblue' class='container'>
    <div class='jumbotron'>
        <div class='container'>
        <h4>Multivariate Regression Using Top 10 Complaint Types</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/formula.png?raw=true">
        </p>
        </div>
    </div>
    <div class='jumbotron'>
        <div class='container'>
        <h4>OLS Regression Results</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/r2.png?raw=true">
        </p>
        </div>
    </div>
    
    <div class='jumbotron'>
        <div class='container'>
        <h4>Association with income</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/association_income.png?raw=true">
        </p>
        </div>
    </div>
    
    <div class='jumbotron'>
        <div class='container'>
        <h4>Covariance Matrix</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/matrix.png?raw=true">
        </p>
        </div>
    </div>
    
    <div class='jumbotron'>
        <div class='container'>
        <h4>Multivariate regression using Principal Components</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/r22.png?raw=true">
        </p>
        </div>
    </div>
    
    <div class='jumbotron'>
        <div class='container'>
        <h4>Multiclass logistic regression</h4>
        <p>
            <img class='img-fluid' src="https://github.com/LindaLv11/Web-Demo/blob/master/views/plot/logistic%20regression.png?raw=true">
        </p>
        </div>
    </div>
</div>

<% include partials/footer%>