<% include partials/header%>
<div style='background-color:lightblue' class='container'>
    <header class='jumbotron'>
        <div class='container'>
            <h1>311 Complaints</h1>
            <p>Predict house price based on New York City 311 Complaints</p>
        </div>
    </header>
    <div class='jumbotron'>
        <div class='container'>
        <h4>Data</h4>
            <img class='img-fluid' src="/dataprocessing.png">
        </div>
    </div>
</div>
<% include partials/footer%>